# --- GCP ---
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-unique-bucket-name
BQ_LOCATION=asia-southeast1

# --- Airflow ---
# Linux: ใช้ค่าจาก `id -u` | macOS/Windows (WSL/Docker Desktop): ใช้ 50000
AIRFLOW_UID=50000